.head {
	width: 100%;
	height: 40px;
	background: #333;
}

.head-nei {
	width: 1226px;
	height: 100%;
	background: #333;
	margin: 0px auto;
}

.head-left {
	float: left;
	height: 100%;
}

.head-left .text {
	float: left;
	height: 100%;
	line-height: 40px;
	color: #afafaf;
	font-size: 14px;
}

.head-left .line {
	float: left;
	height: 100%;
	line-height: 40px;
	margin: 0px 8px;
	color: #3e3e3e;
}

.head-right {
	float: right;
	width: 277px;
	height: 100%;
}

.head-car i {
	font-family: "iconfont";
	font-size: 16px;
}

.head-right .head-car {
	float: right;
	width: 103px;
	height: 100%;
	background: #424242;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}

.head-right .text-box {
	float: left;
	margin-right: 25px;
}

.text-box .text {
	float: left;
	height: 100%;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 14px;
}

.head-right .line {
	float: left;
	height: 100%;
	line-height: 40px;
	margin: 0px 7px;
	color: #3e3e3e;
}

/* 头部结束 */
/* 导航开始 */
.top {
	widows: 100%;
	height: 100px;
	background: #fff;
}

.top-con {
	width: 1226px;
	height: 100%;
	background: #FFFFFF;
	margin: 0px auto;
}

.top img {
	float: left;
	margin-top: 22px;
}

.top .center {
	float: left;
	margin-left: 245px;
	height: 100%;
}

.center .text {
	float: left;
	height: 100%;
	line-height: 100px;
	color: #333;
	font-size: 14px;
	margin-right: 22px;
}

.top-con .box {
	width: 280px;
	height: 48px;
	float: right;
	border: 1px solid #e0e0e0;
	margin-top: 25px;
}

.box .box1 {
	width: 242px;
	height: 100%;
	float: left;
	border-right: 1px solid #e0e0e0;
}

.box1 .iconfont {
	font-family: iconfont;
	font-size: 17px;
	color: #4f4f4f;
	line-height: 48px;
}

/* 导航结束 */

/* 闪购开始 */
.shangou {
	width: 1226px;
	height: 398px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.shangou .shang {
	width: 100%;
	height: 58px;

}
.wenzi {
	font-size: 22px;
	line-height: 58px;
	color: #333333;
	float: left;
}

.jiantou {
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	box-sizing: border-box;
	border: 1px solid #e7e7e7;

}

.jiantou .zuojiantou {
	width: 35px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
}

.jiantou .youjiantou {
	width: 34px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: right;
}

.zuojiantou .iconfont {
	font-family: iconfont;
	line-height: 22px;
	font-size: 14px;
	color: #b9b9b9;
}

.youjiantou .iconfont {
	font-family: iconfont;
	line-height: 22px;
	font-size: 14px;
	color: #b9b9b9;
}
.shangou .xia {
	width: 100%;
	height: 340px;
}
.shangou .xia .xia-left {
	width: 234px;
	height: 300px;
	background: #c4cae8;
	margin-right: 14px;
	float: left;
	padding-top: 39px;
	text-align: center;
	overflow: hidden;
	border-top: 1px solid #e53935;
}
.shangou .xia .xia-left .zi{
	margin: 0 auto;
	font-size: 21px;
	color: #ef3a3b;
	margin-top: 15px;
}
.xia-left .shandian{
	margin-top: 25px;
	margin-bottom: 25px;
}
.xia-left .juli{
	color: rgba(0,0,0,0.54);
    font-size: 15px;
	display: block;
}
.xia-left .shijian-bigbox{
	margin-top: 40px;
	width: 168px;
	height: 46px;
	margin-left: 35px;
}
.xia-left .shijian{
	
	width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left
	
	
}
.xia-left .shijian2{
	width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
}
.xia-left .shijian3{
	width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left
}
.xia-left .shijian4{
	width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
}
.xia-left .shijian5{
	width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left
}
.shangou .xia .xia-right {
	width: calc(234px * 4 + 14px * 3);
	height: 340px;
	float: left;
}
.xia-right .clear li {
	width: 234px;
	background: rgba(0, 0, 0, 0.02);
	height: 339px;
	float: left;
	margin-right: 14px;
	border-top: 1px solid #e53935;
}
.xia-right .clear .miaosha{
	background: #e53935;
	text-align: center;
	width: 30px;
	font-size: 12px;
    line-height: 20px;
	width: 64px;
    height: 20px;
	margin: 0 auto;
	color: #fff;
}
.mijia{
	font-size: 14px;
	position: absolute;
	color: #212121;
	font-weight: 400;
	top: 230px;
	right: 0;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 20px;
	margin-right: 20px;
}
.nanren{
	height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
	position: absolute;
	top: 253px;
	right: 35px;
}
.price{
	position: absolute;
	top: 280px;
	right: 83px;
	font-size: 14px;
}
.jiu{
	color: #ff6709;
	text-align: center;
}
.yibaiqi{
	color: #b0b0b0;
}
.xia-right .clear .xia-right-box5{
	background-image: url(../img/shangou.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}

.xia-right .clear .xia-right-box6{
	background-image: url(../img/shangou.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}
.xia-right .clear .xia-right-box7{
	background-image: url(../img/shangou.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}
.xia-right .clear .xia-right-box8{
	background-image: url(../img/shangou.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}
.xia-right .clear .xia-right-box8{
	margin-right: 0;
}


/* 闪购结束 */
/* banner开始 */
.banner{
	width: 1226px;
	height: 460px;
	background: #000;
	margin: 0 auto;
	position: relative;
}
.banner-img-box{
	width: 1226px;
	height: 460px;
	background: yellow;
	position: absolute;
	left: 0;
	top: 0;
}
.banner-img-box>ul>li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	stop-color: 0;
	
}
.banner-img-box>ul>li>img{
	width: 1226px;
	height: 460px;
}
.dian-box{
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 25px;
}
.jiantou-box-left{
	width: 46px;
	height: 69px;
	background: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.jiantou-box-right{
	width: 46px;
	height: 69px;
	background: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.jiantou-box-left{
	left: 234px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-image: url();
}
.jiantou-box-right{
	right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.banner-list-box{
	width: 234px;
	height: 460px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	top: 0;
}
.dian-box>div{
	float: right;
	margin-right: 20px;
}
.dian-box>div>div{
	width: 10px;
	height: 10px;
	background: rgba(0,0,0,0.1);
	float: right;
	margin-left: 10px;
	border-radius: 50%;
	border: rgba(255,255,255,0.2);
	box-sizing: border-box;
	cursor: pointer;
}
.dian-box>div.a{
	background: rgba(0,0,0,0);
	border: 2px solid rgba(225,225,225,0.5);
}
/* banner结束 */
/* 家电开始 */
.shangou {
	width: 1226px;
	height: 398px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.shangou .shang {
	width: 100%;
	height: 58px;

}
.wenzi {
	font-size: 22px;
	line-height: 58px;
	color: #333333;
	float: left;
}

.jiantou {
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	box-sizing: border-box;
	border: 1px solid #e7e7e7;

}

.jiantou .zuojiantou {
	width: 35px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
}

.jiantou .youjiantou {
	width: 34px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: right;
}

.zuojiantou .iconfont {
	font-family: iconfont;
	line-height: 22px;
	font-size: 14px;
	color: #b9b9b9;
}

.youjiantou .iconfont {
	font-family: iconfont;
	line-height: 22px;
	font-size: 14px;
	color: #b9b9b9;
}
.shangou .xia {
	width: 100%;
	height: 340px;
}
.shangou .xia .xia-left {
	width: 234px;
	height: 300px;
	background: #c4cae8;
	margin-right: 14px;
	float: left;
	padding-top: 39px;
	text-align: center;
	overflow: hidden;
}
.xia-left1 img{
	width: 234px;
	height: 340px;
	float: left;	
}
.xia-left1 img :hover{
	transform: scale(0.5);
}
.shangou .xia .xia-left .zi{
	margin: 0 auto;
	font-size: 21px;
	color: #ef3a3b;
	margin-top: 15px;
}
.shangou .xia .xia-right {
	width: calc(234px * 4 + 14px * 3);
	height: 340px;
	float: left;
}
.xia-right .clear li {
	width: 234px;
	background: rgba(0, 0, 0, 0.02);
	height: 339px;
	float: left;
	margin-right: 14px;
	border-top: 1px solid #e53935;
}
.xia-right .clear .miaosha{
	background: #e53935;
	text-align: center;
	width: 30px;
	font-size: 12px;
    line-height: 20px;
	width: 64px;
    height: 20px;
	margin: 0 auto;
	color: #fff;
}
.mijia{
	font-size: 14px;
	position: absolute;
	color: #212121;
	font-weight: 400;
	top: 230px;
	right: 0;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 20px;
	margin-right: 20px;
}
.nanren{
	height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
	position: absolute;
	top: 253px;
	right: 35px;
}
.price{
	position: absolute;
	top: 280px;
	right: 83px;
	font-size: 14px;
}
.jiu{
	color: #ff6709;
	text-align: center;
}
.yibaiqi{
	color: #b0b0b0;
}
.xia-right .clear .xia-right-box1{
	background-image: url(../img/jiadian1.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}

.xia-right .clear .xia-right-box2{
	background-image: url(../img/jiadian2.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}
.xia-right .clear .xia-right-box3{
	background-image: url(../img/jiadian3.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}
.xia-right .clear .xia-right-box4{
	background-image: url(../img/jiadian4.jpg);
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center 37px; 
	position: relative;
}
.xia-right .clear .xia-right-box4{
	margin-right: 0;
}

/* 家电开始 */
/* 为你推荐开始 */
.tuijianbeijing{
	width: 1226px;
	height: 3000px;
	background: #f5f5f5;
	padding-top: 22px;
}
.tuijian {
	width: 1226px;
	height: 378px;
	margin: 0 auto;
}

.tuijian .tuijian-top {
	width: 1226px;
	height: 58px;

}

.tuijian .tuijian-bottom {
	width: 1226px;
	height: 320px;
    overflow: hidden;
}

.tuijian-top .tuijian-top-left {
	width: 200px;
	height: 58px;
	float: left;
	font-size: 22px;
	color: #3f3f3f;
	line-height: 58px;
}

.tuijian-top .tuijian-top-right {
	width: 200px;
	height: 58px;
	float: right;
}

.tuijian-top-right-jiantoubox {
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
}

.zuojiantou {
	width: 35px;
	height: 22px;
	float: left;
	text-align: center;
	line-height: 22px;
	color: #e9e9e9;
	font-size: 12px;
	border-right: 1px solid #e9e9e9;
	box-sizing: border-box;
}

.youjiantou {
	width: 34px;
	height: 22px;
	float: right;
	text-align: center;
	line-height: 22px;
	color: #e9e9e9;
	font-size: 12px;
}

.tuijian-bottom>ul{
	width: calc(1226*3);
	height: 100%;
}
.tuijian-bottom>ul li{
	width: 234px;
	height: 100%;
	float: left;
	margin-left: 14px;
	text-align: center;
}
.tuijian-bottom ul .b{
	margin-left: 0px;
}
.tuijian-bottom li img{
	width: 140px;
	height: 140px;
	margin-top: 40px;
}
.tuijianzi{
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 15px;
	font-size: 14px;
	color: #454545;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jiage{
	color: #ff6700;
	font-size: 16px;
	margin-top: 15px;
}
.pinglun{
	font-size: 12px;
	color: #757575;
	margin-top: 15PX;
}
/* 为你推荐结束*/
.tuijianbeijing {
	width: 100%;
	height: 1000px;
	background: #f4f4f4;
	
}
.tuijian-bottom.b{
	margin-left: 0;
}
